.vscode/**
**/**/*.class
**/**/dist
**/**/nbproject
**/**/build
_config.yml
apt-cyg
CS.code-workspace
CS.sublime-project
CS.sublime-workspace
**/**/*.exe
**/**/*.exe.stackdump
CS249/Alex
**/a.out
**/*.zip
CS441/sunyat
CS441/turing
CS441/prog1/cmake-build-debug
CS441/prog1/prog1 
CS441/prog1/CMakeLists.txt
**/**/a.out.dSYM